html,
body {
  font-family: Roboto, sans-serif;
  overflow-anchor: none;
}

.page-layout {
  display: flex;
  margin: auto;
  overflow: clip;
  overflow-x: hidden;
  position: relative;
  margin-top: 12%;
}

.drawer__sidebar--perm {
  margin: 0;
  margin-left: 0;
  width: 20%;
  height: 90vh;
  position: fixed;
  top: 20%;
  box-shadow: var(--secondary-box-shadow);
}

.drawer__headings {
  padding: 1rem 1rem 0 1.5rem;
}

.drawer__sidebar--perm h1 {
  font-size: 2rem;
}

.drawer__sidebar--perm span {
  color: var(--neutral-color);
}

.drawer__sidebar--perm ul {
  overflow-y: auto;
  margin: 2px;
  list-style: none;
  max-height: calc(100vh - 3rem);
  overscroll-behavior: contain;
}

.drawer__sidebar--perm ul li {
  margin: 0.8rem 4px 0.8rem 1rem;
  padding-left: 0.5rem;
  border-radius: 4px;
  font-size: 1.5rem;
}

.drawer__sidebar--perm ul li:hover {
  background-color: var(--accent-color);
}

.active {
  background-color: var(--secondary-bg-color);
}

.active > a .icon i {
  color: var(--primary-color);
}

.drawer__sidebar--perm ul li.active:hover {
  background-color: var(--secondary-bg-color);
}

.icon {
  margin-right: 2rem;
  font-size: 1.5rem;
}

.labels {
  display: inline-block;
  margin: 0.5rem 2rem 0.5rem 2rem;
}

.drawer__sidebar--perm ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: 600;
  padding: 0.5rem 0.25rem;
}

.main {
  width: 80%;
  margin: 1rem;
  overflow: auto hidden;
  margin-left: 25%;
}

.main__heading {
  /* margin: 1rem 0; */
  /* padding: 1rem; */
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--base-color);
}

.main__heading h1 {
  margin: 0px;
  margin-left: 1rem;
}

.main__sub-heading {
  /* margin: 1rem 0; */
  /* padding: 1rem; */
  font-size: 1.5rem;
  background-color: var(--secondary-bg-color);
  color: var(--neutral-color);
}

.main__sub-heading h2 {
  margin: 0px;
  margin-left: 1rem;
}

.main__content {
  margin: 2rem;
}

.header--std {
  display: flex;
  align-items: center;
  background-color: var(--base-color);
  z-index: 5;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: var(--secondary-box-shadow);
  transition: top 0.2s ease-in-out;
}

.header--std .nav--std {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 1rem; */
}

.nav--std > a {
  text-decoration: none;
}

.header--std ul {
  list-style: none;
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
}

.header--std ul li {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.header--std ul li i {
  color: var(--primary-color);
}

.header--std .header__title {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.header__logo img {
  width: 6rem;
}

.header__list--align-start {
  justify-content: flex-start;
}

.header__list--align-end {
  justify-content: flex-end;
}

.header__btn {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
}

.header__btn a {
  display: block;
  width: 100%;
  height: 100%;
}

.header__btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__btn:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.ui {
  color: var(--neutral-color);
}

.component-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
}

.component-code {
  margin: 2rem;
  max-height: 500px;
  border: 2px solid var(--accent-color);
  border-radius: 1rem;
  overflow: auto;
}

.component-code-display {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.alert-component {
  flex-direction: column;
  gap: 0.5rem;
}

.img-component {
  height: 10rem;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  resize: both;
  overflow: auto;
}

.typography-component {
  display: block;
}
