.grid--two {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  text-align: center;
}

.grid--three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
}

.box {
  border: 1px solid;
  border-radius: 4px;
  padding: 1rem;
}
